*,
*:after,
*:before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: pink;
    height: 100vh;
    width: 100vw;

}
.game-stats {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.timer {
    font-size: 40px;
}

.mines-left{
    font-size: 40px;
}

#canvas {
    background-color: white;
    /* border: 2px solid black; */
}